---
 const personalImageAlt = "Lucas Hood"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Lucas Hood y soy estudiante de la Tecnicatura en 
      An치lisis de Sistemas en el Instituto Superior de Formaci칩n T칠cnica N.췈 172, 
      en Buenos Aires 游뷣릖.
    </p>

    <p>
      Actualmente me encuentro realizando proyectos freelance mientras sigo form치ndome. Disfruto tanto del desarrollo 
      frontend como backend, y busco siempre aplicar buenas pr치cticas y seguir aprendiendo tecnolog칤as modernas.
    </p>

    <p>
      Me entusiasma crecer profesionalmente en el mundo del desarrollo web y contribuir con soluciones reales.
    </p>
  </div>

  <img width="200" height="200" src="/lucashoodCV.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

