---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
    date: "Junio 2026 – Actualidad",
    title: "Analista Funcional | SIU-Guaraní",
    company: "Facultad de Ingeniería - UNLZ",
    description:
      "Participé en el relevamiento de requerimientos, soporte técnico y funcional del sistema SIU-Guaraní, colaborando con distintas áreas de la facultad para optimizar procesos administrativos y garantizar el correcto funcionamiento del sistema de gestión académica.",
  },
  {
    date: "Enero 2026 – Junio 2026",
    title: "Representante de Envíos",
    company: "Mercado Libre",
    description:
      "Clasificación y escaneo de paquetes para seguimiento logístico. Armado y consolidación de pallets para despacho utilizando zorra manual. Coordinación con equipos de otras áreas y realización de tareas polivalentes como Picking.",
  },
  {
    date: "Marzo 2024 - Octubre 2025",
    title: "Auxiliar de Seguros",
    company: "Moreno & Asociados",
    description:
      "Atención y asesoramiento a clientes en temas de seguros del automotor. Gestión de pólizas y seguimiento de siniestros. Trabajo diario con herramientas digitales y contacto directo con asegurados y compañías.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
