---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Web",
    company: "Freelance",
    description:
      "Desarrollé un sistema web para un instituto de inglés, trabajando de forma directa con el cliente para relevar necesidades. El sistema permite gestionar inscripciones, asistencia y horarios.",
  },
  {
    date: "Marzo 2024 - Actualmente",
    title: "Auxiliar de Seguros",
    company: "Moreno&Asociados",
    description:
      "Atención y asesoramiento a clientes en temas de seguros del automotor. Gestión de pólizas y seguimiento de siniestros. Trabajo diario con herramientas digitales y contacto directo con asegurados y compañías.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
